* {
  margin: 0;
  padding: 0;
  display: grid;
}

.main-header {
    border-bottom: 2px solid black;
    justify-content: right;
}

.pat-table-head {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    border-bottom: 2px solid black;
}

.theader {
    display: grid;
    grid-template-columns: repeat(9, 1fr);
    border-bottom: 1px solid black;
}

.pat-table-row0 {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    background: rgb(87, 92, 94);
}

.pat-table-row1 {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    background: rgb(123, 132, 133);
}

.trow0 {
    display: grid;
    grid-template-columns: repeat(9, 1fr);
    background: rgb(87, 92, 94);
}

.trow1 {
    display: grid;
    grid-template-columns: repeat(9, 1fr);
    background: rgb(123, 132, 133);
}

.logout-button {
    margin-right: 50px;
}

a {
    color: rgb(0, 171, 173);
}

.login-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    padding-bottom: 10px;
}

.contributors-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    padding-bottom: 10px;
    border-bottom: 1px solid black;
}

.resource-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    padding-bottom: 10px;
    border-bottom: 1px solid black;
}

.big-paragraph {
    margin-right: 50px;
    margin-left: 50px;
    font-size: 36px;
}

.profile-info {
    grid-template-columns: 1fr 1fr;
}